body{
    margin: auto;
    padding: auto;
    background-color: #Faf7f7;
}
header{
    width: 100%;
    height: 70%;
    color: #8395a8;    
}
.line{
    display: flex;
    flex-wrap: wrap;   
    background-color: #5a738d;

}
.line > div{
    padding: 20px;
    margin: 20px;
}
h1{
    position: absolute;
    padding: 3px;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color:#Faf7f7;
}
.ColomaTxt{
    color: #5a738d;
    text-shadow: -1px 0 #Faf7f7, 0 1px #Faf7f7, 1px 0 #Faf7f7, 0 -1px #Faf7f7;
}
button{
    width:auto;
    float:left;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    color: #Faf7f7;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    size: 30px;
    background-color: #5a738d;
    border-radius: 10px;
    border-color: #Faf7f7;
}
.LogoBtn{
    width:auto;
    float:left;
    margin-top: 8px;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    color: #Faf7f7;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #5a738d;
}
.HomeBtn{
    width:auto;
    float:right;
    margin-top: 8px;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    color: #Faf7f7;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #5a738d;
}
.PortfolioBtn{
    width:auto;
    float:right;
    margin-top: 8px;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    color: #Faf7f7;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #5a738d;
}
.AboutBtn{
    width:auto;
    float:right;
    margin-top: 8px;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    color: #Faf7f7;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #5a738d;
}
.ContactBtn{
    width:auto;
    float:right;
    margin-top: 8px;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    color: #Faf7f7;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #5a738d;
}
.HomeBtn:hover{
    color: #8395a8;
    transition: 0.5s;
}
.PortfolioBtn:hover{
    color: #8395a8;
    transition: 0.5s;
}
.AboutBtn:hover{
    color: #8395a8;
    transition: 0.5s;
}
.ContactBtn:hover{
    color: #8395a8;
    transition: 0.5s;
}